body {
  background: linear-gradient(90deg, #ADA996, #F2F2F2, #DBDBDB, #EAEAEA);
}

.logo{
  margin-left: 2%;
  height: 10vmin;
}
.App {
  text-align: center;
  margin-left: 3%;
  margin-top: 1%;
  /* margin: 10%; */
}

 .imageCaption {
  color: blue;
}

.form-group .btn-warning {
  align-self: center;
  margin-left: 150px;
  margin-right: 0px;
}

.left {
  border-right: 1px dashed #333;
}

/* .right {
  margin-top: 6%;
} */

.load-results {
  align-self: center;
  /* margin-left: 10px; */
}


.tops {
  margin-top: 5%;
}

.returnedHash {
  color: chartreuse;
}

.verified {
  height: 600px;
  overflow-y: scroll
}

.list-group-item1 {
  background-color: #333;
  color: azure;
}

.list-group-item1 h6 {
  text-decoration: underline;
}